[project]
	description = JavaScript library for accessing and displaying information from the BRS M-Files service.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander Mazurov (mazurov)
[access "refs/for/refs/*"]
	read = group user/Alexander Mazurov (mazurov)
	push = group user/Alexander Mazurov (mazurov)
	label-Code-Review = -2..+2 group user/Alexander Mazurov (mazurov)
	label-Verified = -1..+1 group user/Alexander Mazurov (mazurov)
	rebase = group user/Alexander Mazurov (mazurov)
	removeReviewer = group user/Alexander Mazurov (mazurov)
	submit = group user/Alexander Mazurov (mazurov)
[access "refs/heads/*"]
	read = group user/Alexander Mazurov (mazurov)
	create = group user/Alexander Mazurov (mazurov)
	push = +force group user/Alexander Mazurov (mazurov)
	pushMerge = group user/Alexander Mazurov (mazurov)
[access "refs/tags/*"]
	push = group user/Alexander Mazurov (mazurov)
	push = +force group user/Alexander Mazurov (mazurov)
